body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
    display: grid;
	grid-template-rows: 100px 1fr;
	grid-template-columns: 30% 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content";
}

.header {
	font-size: 40px;
	font-family:cursive ;
	text-align: center;
	color: aliceblue;
	grid-area: header;
	padding:30px;
    background-color: rgb(21, 124, 156);
}
.sidebar {
	font-family:cursives ;
	font-size: 16px;
	word-spacing: 40%;
	color: aliceblue;
	grid-area: sidebar;
	padding:10px;
	background-image: url("https://img5.goodfon.com/wallpaper/nbig/e/7f/sea-sky-sunset-pink-beach-more-nebo-zakat-pliazh.jpg");
	background-size: cover;
    background-color: rgb(56, 168, 224);
}
.content {
	grid-area: content;
}