body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 80px 1fr;
	grid-template-columns: 250px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content";
}

.header {
	grid-area: header;
	padding:10px;
	background-color: #333;
	color: white;
	font-size: 2em;
}

.sidebar {
	color: white;
	grid-area: sidebar;
	padding:10px;
	background-color: #555;
	overflow: auto; /* allows the sidebar to overflow with a scrollbar */
}

.content {
	grid-area: content;
}

.sidebar-item {
    padding: 10px; /* adds inner padding */
    background: gainsboro; /* background color */
    border: 1px solid gray; /* border width, style, and color */
    margin: 5px; /* outer padding */
		cursor: pointer; /* change cursor to hand on hover */
}

.sidebar-item:hover {
    padding: 10px; /* adds inner padding */
    background: rgb(136, 210, 40); /* background color */
    border: 1px rgb(115, 183, 25); /* border width, style, and color */
    margin: 5px; /* outer padding */
		cursor: pointer; /* change cursor to hand on hover */
}